@import "@/assets/scss/vars.scss";
  

//common styles

.under {
    display: inline-flex;
    transition: border .6s, color .5s;
    align-self: flex-start;
    line-height: 1.5;
    border-bottom: 1px solid $cornflower;

    @screen lg {
        &:hover {
            border-bottom: 1px solid $cornflower;
            color: $cornflower;
        }
    }

}

.fill {
    transition: color .3s;
    color: $cornflower;

    @screen lg {
        &:hover {
            color: $cornflower;
        }
    }
}

.disabled {
    opacity: .3;
    pointer-events: none;
}

.loader {
    display: inline;
    animation: spin 1s infinite;
}

::selection {
    color: $default-light;
    background: $bright-blue;
}

::-moz-selection {
    color: $default-light;
    background: $bright-blue;
}

.truncate {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
    white-space: unset;
}



.heading {
    opacity: 0;

    @apply items-center gap-1;

    > span {
        &:first-child {
            @apply font-corinthia mx-2 text-light-pink;
            font-size: 3.6rem;
        }

        &:last-child {
            font-weight: 700;
            font-size: 1.5rem;
            padding-bottom: 5px;
            letter-spacing: 2px;
        }
    }
}

.floral {
    background-image: url('@/assets/images/flower-pattern.jpg');
}

.blurb {
    opacity: 0;
}

.the-page {
    opacity: 0;

    p { 
        @apply leading-7;
    }
}

nav  {
    a {
        text-transform: capitalize;
    }
}

.heading-wrap {
    pointer-events: none;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        .layout-mobile & {
            width: 100%;
        }
    }

    .branch {
        background: $muted-blue;
        height: 1px;
    }
}

.layout-mobile {

    &.page-about {
        .heading-wrap {
            display: none;
        }
    }

    .first {
        width: 1.5rem;
    }

    .second {
        flex: 1;
    }

    .stc-logo {
        width: 230px;
    }

    .floral {
        background-position: -141px -442px;
        background-size: 250px;
    }

    .fixed-stretch {
        position: fixed;
        left: 1.5rem;
        right: 0;
    }

    .page-wrap {
        top: 0;
        height: 100dvh;
        overflow: auto;
    }

        .the-page {
            position: relative;
            padding: 30px 30px 100px;

            @screen sm {
                width: 80%;
            }
        }

    .blurb {
        margin-top: -20px;
    }

    .branch {
        flex: 0;
    }

    .the-page {
        top: 70px;
    }

    &.page-about .the-page {
        top: 20px;
    }

    .heading-wrap {
        width: 100%;
        top: 20px;
        opacity: 0;

        &:before {
            background: linear-gradient($default-dark 60%, rgba($default-dark, 0));
            height: 100px;
            top: -20px;
        }
    }

    .heading {
        padding-right: 60px;
    }

    nav {
        opacity: 0;
        background: linear-gradient(rgba(5, 24, 51, 0) 0%, #051833 30%);
        @apply p-8 fixed right-0 left-0 bottom-0;
        pointer-events: none;

        a, button {
            opacity: 0;
            pointer-events: all;

            &.active {
                @extend .under;
            }
        }
    }
}

.layout-screen {
    height: 100dvh;

    &:not(.page-projects) {
        @screen xl {
            background-image: url('@/assets/images/watermark.svg');
            background-position: right bottom;
            background-repeat: no-repeat;
        }
    }

    .first {
        width: 2.5rem;
    }

    .second {
        width: 20rem;
    }

    .third {
            position: relative;
            width: 2px;
            background: #0B3067;
            right: -5px;
    }

    .stc-logo {
        width: 256px;
    }

    .floral {
        background-position: -161px -442px;
        background-size: 300px;
    }

    .page-wrap {
        position: fixed;
        height: 100vh;
        overflow: auto;
        left: 364px;

        &:after {
            content: '';
            position: fixed;
            width: 100%;
            z-index: 5;
            bottom: 0;
            height: 100px;
            background: linear-gradient(rgba($dark-1, 0), rgba($dark-1, 1) 50%);
            pointer-events: none;
            margin-left: 2px;
        }

        .page-content {
            position: relative;
        }

        .the-page {
            padding: 50px 50px 100px;
        }
    }

    .heading-wrap {

        &:before {
            width: 800px;
            left: 40px;
            background: linear-gradient($dark-1 60%, rgba($dark-1, 0));
        }
    }

    $pages: 
    'about' 400,
    'resume' 60,
    'contact' 300;

    @each $page, $top, $left in $pages {
        &.page-#{$page} {
            
            .page-content {
                top: #{$top + 40}px;
            }

            .heading-wrap {
                top: #{$top}px;

                &:before {
                    top: #{-$top}px;
                    height: #{$top + 80}px;
                }
            }
        }
    }

    .bar-standard {
        @apply ml-10;
        @apply w-80;

        nav a {
            opacity: 0;

            &:hover {
                @extend .fill; 
            }

            &.active {
                @extend .under;
            }
        }
    }
    
    .bar-full {
        height: 100vh;
        width: 2.5rem;
        left: 0;
        position: absolute;
        transition: background 1s;
        background-color: transparent;
        box-shadow: 10px 10px 26px -6px rgba(0,0,0,0.38);
        @apply flex flex-col justify-between items-center;
    
        nav {
            @apply flex;
            writing-mode: tb-rl;
            white-space: nowrap;

            > *  {
                opacity: 0; 
            }

            a {
                color: $default-light;

                &.active {
                    color: $cornflower;
                }
            }
            

            &:first-child {
                padding-bottom: 20px;

                span.flower {
                    #layer-flower {
                        width: 35px;
                        position: absolute;
                        top: 10px;
                        left: 7px;
                        transform: rotate(80deg);
                    }
                }

                span.nadia {
                    margin-top: 90px;
                     transform: rotate(180deg);
                }
            }

            &:last-child {
                padding-top: 20px;
                transform: rotate(180deg);
            }
        }
    }

    .layout-standard {
        .page-content {
            max-width: 800px;
        }
    
        .page-wrap {
            right: -30px; //hide scroll bar
        }
    
        .heading-wrap {
            left: 330px;
        }
    }
    
    .layout-full {
    
        .page-wrap {
            overflow: unset;
            left: 50px;
    
            &:after {
                display: none;
            }
        }
    
        .the-page {
            padding: 120px 50px 50px;
        }
    
        .heading-wrap {
            top: 24px;
            left: 15px;
    
            &:before {
                display: none;
            }
        }
    }

    &.page-about .the-page {
        padding: 50px 164px 100px 50px;
    }
}

.alert {
    background: rgba($cornflower, .1);

    &:before {
        content: '';
        width: 82%;
        display: block;

        @screen max-phone {
            width: 70%;
        }
    }
    
    > div {
        padding: 20px;
        position: relative;
    }

    .message {
        @screen max-phone {
            padding-right: 60px;
        }
    }

    .flowers {
        position: absolute;
        right: -20px;
        top: -50px;
        pointer-events: none;
    }
    
    &.type-info {
        &:before {
            border-top: 2px solid $cornflower;
        }

        .flowers svg {
            fill: $cornflower;
        }
    }

    &.type-success {
        &:before {
            border-top: 2px solid $light-blue;
        } 

        div {
            color: $light-blue;
        }

        .flowers svg {
            fill: $light-blue;
        }
    }

    &.type-danger {
        &:before {
            border-top: 2px solid $status-danger;
        }

        div {
            color: $status-danger;
        }

        .flowers svg {
            fill: $status-danger;
        }
    }
}

//common animations

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

//dynamic tailwind classes
.w-5 {
    width: 1.25rem;
}

.h-5 {
    height: 1.25rem;
}

.prismic-rich-text {
    a, button {
        @extend .under;
    }
}





