@import "@/assets/scss/vars.scss";

//pages styles

.tags {
    @apply gap-2 flex flex-wrap;

    @screen lg {
        width: 80%;
    }

    .tag {
        background: rgba($cornflower, .2);
        color: $cornflower;
        padding: 2px 5px;
        @apply rounded text-sm;

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.page-projects {

    &.layout-screen {
        .page-content {
            height: 100%;
        }
    
        .the-page {
            height: 100%;
        }

        .project-desc {
            max-width: 800px;
            order: 1;
        }
    
        .scaled-content {
            position: relative;
            @apply min-h-0;
            order: 2;
            
            //still small issue where the image skews is width comes in too close.
            img, video {
                height: 100%; 
                width: auto;
                object-fit: contain;
                box-shadow: 0 1px 20px 0 rgba($dark-1, .8);
             }
        }

        .project-nav {
            order: 3;
        }

    }
}

.page-resume {
    .the-page {
        max-width: 600px;
    }

    .employer {
        .title {
            &:hover {
                .desc {
                    opacity: 1;
                }
            }
        }

        .desc {
            transition: opacity .5s;
            opacity: 0;
        }
    }
}

.page-about {
    &.layout-mobile {
        .heading-wrap {
            opacity: 0;
        }
    }
}

.page-contact {

    .form-wrap {
        width: 100%;

        @screen lg {
            width: 470px; 
        }
    }

    input, textarea {
        background: $dark-1;
        padding: 10px 15px;
        font-size: .8rem;
        outline: none;

        @screen lg {
            background: $default-dark;
        }

        &::placeholder {
            font-style: italic;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: $default-light;
        -webkit-box-shadow: 0 0 0px 40rem $dark-1 inset;

        @screen lg {
            -webkit-box-shadow: 0 0 0px 40rem $default-dark inset;
        }
    }

    textarea {
        width: 100%;
        height: 200px;
        resize: none;
    }

    .textarea-wrap {
        position: relative;

        .send {
            background: $default-dark;
            padding: 0 15px;
            position: absolute;
            right: 15px;
            bottom: 20px;
            font-size: 3rem;
            line-height: .8;
            @apply font-corinthia;
            transition: color .5s;

            @screen lg {
                background: $dark-1;
            }

            &:hover {
                color: $cornflower;
            }
        }
    }

    .social {
        svg {
            cursor: pointer;
            fill: $default-light;
            width: 25px;
            transition: transform .3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .error {
        color: $status-danger;
    }

    .success {
        color: $bright-blue;
    }

}
