@import "@/assets/scss/vars.scss";

//pages styles

.tags {
    @apply gap-2 flex flex-wrap;
    width: 80%;

    span {
        background: rgba($cornflower, .3);
        color: $cornflower;
        padding: 2px 5px;
        @apply rounded text-sm;
    }
}

.page-projects {

    &.layout-screen {
        .page-content {
            height: 100%;
        }
    
        .the-page {
            height: 100%;
        }
    
        .scaled-content {
            position: relative;
            @apply min-h-0;
            //@apply flex-1; remove for now
            
            //still small issue where the image skews is width comes in too close.
            img, video {
                height: 100%; 
                width: auto;
                //object-fit: cover;
                object-fit: contain;
                box-shadow: 0 1px 20px 0 rgba($dark-1, .8);
             }
        }
    
        .project-content {
            max-width: 800px;
        }
    }
}

.page-resume {
    .the-page {
        max-width: 600px;
    }
}