@import "@/assets/scss/vars.scss";

body {

    &.page-projects {
        transition: background-color 1s;

        $projects: 'solutions' #121243 #3471da, 'test' green blue, 'test-2' pink red;

        @each $name, $primary, $accent in $projects {
            &.project-#{$name} {
    
                background-color: darken($primary, 8);
    
                .bar-full {
                    background: darken($primary, 5);
                    transition: background 1s;
                }
    
                .heading span:first-child {
                    color: $accent;
                }
    
                .heading-wrap .branch {
                   background: $accent;
                }
    
                a.active {
                    &.fill {
                        color: $accent;
    
                        &:hover {
                            color: $accent;
                        }
                    }
    
                    &.under {
                        border-bottom: 1px solid $accent;
                    }
                }
    
                .tags > span {
                    color: lighten($primary, 50);
                    background: $primary;
                }
            }
        }
    }

}

