@import "@/assets/scss/vars.scss";


.style-logo {
    svg {
        margin: auto; 
    }
  }
  
  #that {
    polygon, path {
       fill: theme('colors.default-light');
    }
  }
  
  //each path and line color
  #style-group > g > g > * {
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #FDD8EC;
  }
  
  //each clip
  #s-1 > g { 
    clip-path: url(#clippath);
  }
  
  #s-2 > g { 
    clip-path: url(#clippath-1) ;
    
  } 
  
  #s-3 > g { 
    clip-path: url(#clippath-2) ;
  }  
  
  #t > g { 
    clip-path: url(#clippath-3); 
  }  
  
  #t-2 > g { 
    clip-path: url(#clippath-8);
  } 
  
  #y > g { 
    clip-path: url(#clippath-4);
    
  } 
  
  #y-2 > g { 
    clip-path: url(#clippath-5);
  
  } 
  
  #l > g { 
    clip-path: url(#clippath-6);

  } 
  
  #e > g { 
    clip-path: url(#clippath-7);
  } 
  
  //path and line stroke weights
  #t-2, #l, #y, #s-1, #t-2 {
    path, line { stroke-width: 9px }
  }
  
  #y-2, #e {
    path { stroke-width: 8px }
  }
  
  #s-2 {
    path { stroke-width: 12px }
  }
  
  #t {
    path { stroke-width: 10px }
  }
  
  #s-3 {
    path { stroke-width: 7px }
  }
  
  #style-group {
    path, line {
      fill: none;
    }
  }
  
  #compiles-bg, #style-bg {
    fill: theme('colors.default-light');
    opacity: .1;
    display: none;
  }
  
  #dash {
    fill: theme('colors.default-light');
  }
  
  #compiles > * {
    fill: theme('colors.default-light');
  }
  

//   @keyframes appear {
//     from {
//         opacity: 0;
//     }

//     to {
//       opacity: 1;
//     }
//   }

a.under {
    padding-bottom: 3px;
    display: inline-flex;
    border-bottom: 1px solid transparent;
    transition: border .6s;

    &.active, &:hover {
        border-bottom: 1px solid $light-pink;
    }
}

a.fill {
    transition: color .3s;

    &.active, &:hover {
        color: $light-blue;
    }
}


.layout-mobile, .layout-screen {

    .floral {
        background-image: url('@/assets/images/flower-pattern.jpg');
    }
    
    .first, .second {
        width: 0;
    }

    .blurb {
        opacity: 0;
    }
    
    .the-page {
        opacity: 0;
    }
    
    nav  {
        > * {
            opacity: 0;
            font-size: .9rem;
            text-transform: capitalize;
        }
    }
}

.layout-mobile {
    .floral {
        background-position: -141px -442px;
        background-size: 250px;
    }

    .style-logo svg {
        width: 230px;
    }

    .heading {
        opacity: 0;
    }

    nav {
        background: linear-gradient(rgba($default-dark, .3), rgba($default-dark, 1) 50%);
        @apply p-8 absolute right-0 left-0 bottom-0;
    }

    .content {
        left: 1.5rem;
    }
}

.layout-screen {

    .style-logo svg {
        width: 256px;
    }

    .floral {
        background-position: -161px -442px;
        background-size: 300px;
    }

    .page-wrap {
        position: fixed;
        height: 100vh;
        overflow: auto;
        left: 364px;
        right: -30px; //hide scroll bar

        &:after {
            content: '';
            position: fixed;
            width: 100%;
            z-index: 5;
            bottom: 0;
            height: 100px;
            background: linear-gradient(rgba($dark-1, .3), rgba($dark-1, 1) 50%);
            pointer-events: none;
        }

        .page-content {
            position: relative;
        }

        .the-page {
            padding: 50px;
            max-width: 800px;
        }
    }
    
    .heading-wrap {
        &:before {
            content: '';
            position: fixed;
            background: linear-gradient($dark-1 60%, rgba($dark-1, .5));
            width: 800px;
            left: 364px;
            top: 0;
            z-index: -1;
        }

        .heading {
            opacity: 0;
            @apply items-center;

            > span {
                &:first-child {
                    @apply font-corinthia mx-2 text-light-pink;
                    font-size: 3rem;
                }

                &:last-child {
                    font-weight: 700;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                }
            }
        }
    
        .branch {
            background: $muted-blue;
            height: 1px;
            width: 0;
        }
    }


    $pages: 
        'about' 400 320,
        'resume' 85 320,
        'projects' 150 20,
        'contact' 400 320;

    @each $page, $top, $left in $pages {
        &.page-#{$page} {

            .page-content {
                top: #{$top}px;
            }

            .heading-wrap {
                top: #{$top - 40}px;
                left: #{$left}px;

                &:before {
                    height: #{$top + 30}px
                    
                }
            }
        }
    }
    
    &.page-projects {
        .page-wrap {
            left: 50px;

            &:after {
                display: none;
            }
        }
    }

    .standard {
        @apply ml-10;
        @apply w-80;
    }
    
    .full {
        height: 100vh;
        width: 2.5rem;
        left: 0;
        position: absolute;
        @apply flex flex-col justify-between items-center;
    
        nav {
            @apply flex;
            writing-mode: tb-rl;
            transform: rotate(180deg);
            white-space: nowrap;

            &:first-child {
                padding-bottom: 20px;
            }

            &:last-child {
                padding-top: 20px;
            }
        }
    }
}



