.style-logo {
    svg {
        width: 256px;
        margin: auto; 
    }
  }
  
  #that {
    opacity: 0;

    polygon, path {
       fill: #FFFEEB;
    }
  }
  
  //each path and line color
  #style-group > g > g > * {
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #FDD8EC;
  }
  
  //each clip
  #s-1 > g { 
    clip-path: url(#clippath);
  }
  
  #s-2 > g { 
    clip-path: url(#clippath-1) ;
    
  } 
  
  #s-3 > g { 
    clip-path: url(#clippath-2) ;
  }  
  
  #t > g { 
    clip-path: url(#clippath-3); 
  }  
  
  #t-2 > g { 
    clip-path: url(#clippath-8);
  } 
  
  #y > g { 
    clip-path: url(#clippath-4);
    
  } 
  
  #y-2 > g { 
    clip-path: url(#clippath-5);
  
  } 
  
  #l > g { 
    clip-path: url(#clippath-6);

  } 
  
  #e > g { 
    clip-path: url(#clippath-7);
  } 
  
  //path and line stroke weights
  #t-2, #l, #y, #s-1, #t-2 {
    path, line { stroke-width: 9px }
  }
  
  #y-2, #e {
    path { stroke-width: 8px }
  }
  
  #s-2 {
    path { stroke-width: 12px }
  }
  
  #t {
    path { stroke-width: 10px }
  }
  
  #s-3 {
    path { stroke-width: 7px }
  }
  
  #style-group {
    path, line {
      fill: none;
    }
  }
  
  #compiles-bg, #style-bg {
    fill: #FFFEEB;
    opacity: .1;
    display: none;
  }
  
  #dash {
    opacity: 0;
    //animation: blink 2s 4s infinite;
    fill: #FFFEEB;
  }
  
  #compiles > * {
    opacity: 0;
    //animation: fade-in-out .5s linear forwards;
    fill: #FFFEEB;
  }
  
  @keyframes write {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes appear {
    from {
        opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


.main {
    @apply ml-10;
    @apply w-80;
}
  
.the-branch {
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    transition: transform .5s ease-in;
    width: 500px;
}





// div.first {
//     @apply w-10;

//     // &.width-enter-active,
//     // &.width-leave-active {
//     //     transition: width 1s;
//     //     @apply w-10; 
    
//     // }
// }

// div.second {
//     @apply w-80;

//     // &.width-enter-active,
//     // &.width-leave-active {
//     //     transition: width 1s;
//     //     @apply w-80; 
//     // }
// }

//enter-from and leave-to have to go after enter-active and leave-active
// div.first, div.second {
//     &.width-enter-from,
//     &.width-leave-to {
//         @apply w-0; 
//     }
// }

// .fade-enter-active,
// .fade-leave-active {
//     transition: opacity 2s;
//     opacity: 1;
// }

// .fade-enter-from,
// .fade-leave-to {
//     opacity: 0;
// }

.branch {
    // position: absolute;
    @apply mb-10;

    position: relative;
    // top: 300px;
     left: -80px;
    border-bottom: 2px solid theme('colors.muted-blue'); 
    width: 400px;

    &:after {
        content: url("/_nuxt/assets/images/flower-tip.svg");
        width: 20px;
        height: 20px;
        position: absolute;
        right: -14px;
        top: -2px;
        bottom: 0;
        margin: auto;
    }

    // &.branch-enter-active,
    // &.branch-leave-active {
    //     transition: width 2s;
    //     width: 400px;
    
    // }
    // &.branch-enter-from,
    // &.branch-leave-to {
    //     width: 0;
        
    // }
}

// div.main {
//     pointer-events: none;
// }