@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main-bg {
    background: linear-gradient(90deg, theme('colors.primary-blue') 50%, theme('colors.default-light') 50%);
    min-height: 100vh;
}

.bolts, .cfa {
    flex: 1 0 0;
} */

body {
    @apply text-default-light;
}


.floral {
    background: url(/_nuxt/assets/images/flower-pattern.jpg) -161px -442px;
    background-size: 300px;
}